@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Colores
$rojo : #FF0244;
$azul: #56E1FF;
$naranja: #FF7456;
$gris-claro: #f6f6f6;

// Fuentes
$PTsans : 'Open Sans', sans-serif;
$PlayfairDisplay : 'Playfair Display', serif;
$OpenSans:  'Open Sans', sans-serif;

h1, h2, h3, h4, h5, h6 {
    font-family: $PTsans;
    text-transform: uppercase;
    font-weight: bold !important;
}
.azul {
    color: orangered;
}
body {
    font-family: $PTsans !important;
}
.bg-header {
    background-image: url("../assets/ninos-indigenas.jpg");
    height: 75vh;
    background-position: 50% 30%;
    background-size: cover;
}
.bg-dot {
    background-image: url("../assets/gridtile.png");
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.menu-flotante {
    background: rgba(0, 0, 0, 0.700);
    border-radius: 0 0 5px 5px;
    position: sticky;
    top: 0px;
    display: none;
}
.menu {
    list-style: none;
    font-family: $PTsans;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 15px;
    li {
        margin: 0 15px;
        a {
            text-decoration: none;
            color: white;
        }
        a:hover {
            color: $azul;
        }
    }
}
#btn-donar {
    background-color: $rojo;
    display: block;
    color: white;
    text-decoration: none;
    font-family: $PTsans;
    font-weight: bold;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
}
.texto-header {
    color: white;
    text-align: center;
    #logo {
        max-width: 50%;
    }
    .titulo-principal {
        font-family: $PlayfairDisplay;
        font-size: 5em;
    }
}
.linea {
    border: 3px solid $naranja;
    opacity: 1;
    width: 50%;
    margin: 15px auto;
    border-radius: 5px;
}
.info-square {
    background-color: $naranja;
    padding: 10px;
    color: white;
    border-radius: 5px;
}
.icon-bigsize {
    padding: 5px;
    svg {
        width: 60px;
        height: 60px;
    }
}
.bg-gris {
    background: $gris-claro;
}
.btn-programas {
    text-decoration: none;
    background-color: $naranja;
    display: block;
    padding: 5px 10px;
    text-align: center;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    svg {
        margin: 3px;
    }
}
.btn-programas:hover {
    color: white;
}
// Botones Redes Sociales 
.btn-rs {
    display: block;
    text-decoration: none ;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 50%;
    color: white;
    margin: 10px 0;
    i {
        font-size: 20px;
    }
}
.btn-rs:hover {
    color: white;
    text-decoration: underline;
}
.facebook {
    background-color: #3171EE;
}
.twitter {
    background-color: #309FF1;
}
.instagram {
    background: rgb(131,58,180);
background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);
}
.whatsapp {
    background-color: #33D24D;
}
.bg-contact {
    background-image: url('../assets/bg-contacto.jpg');
    background-size: cover;
    color: white;
    label {
        font-weight: bold;
    }
}
.bg-footer {
    background-color: rgb(19, 19, 19);
    color: white;
}