@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: bold !important;
}

.azul {
  color: orangered;
}

body {
  font-family: "Open Sans", sans-serif !important;
}

.bg-header {
  background-image: url("../assets/ninos-indigenas.jpg");
  height: 75vh;
  background-position: 50% 30%;
  background-size: 100%;
}

.bg-dot {
  background-image: url("../assets/gridtile.png");
  background-repeat: repeat;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.menu-flotante {
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 5px 5px;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.menu {
  list-style: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 15px;
}

.menu li {
  margin: 0 15px;
}

.menu li a {
  text-decoration: none;
  color: white;
}

.menu li a:hover {
  color: #56E1FF;
}

#btn-donar {
  background-color: #FF0244;
  display: block;
  color: white;
  text-decoration: none;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 5px 10px;
  border-radius: 5px;
  text-transform: uppercase;
}

.texto-header {
  color: white;
  text-align: center;
}

.texto-header .titulo-principal {
  font-family: "Playfair Display", serif;
  font-size: 5em;
}

.linea {
  border: 3px solid #56E1FF;
  opacity: 1;
  width: 50%;
  margin: 15px auto;
  border-radius: 5px;
}

.info-square {
  background-color: #FF7456;
  padding: 10px;
  color: white;
  border-radius: 5px;
}

.icon-bigsize {
  padding: 5px;
}

.icon-bigsize svg {
  width: 60px;
  height: 60px;
}

.bg-gris {
  background: #f6f6f6;
}

.btn-programas {
  text-decoration: none;
  background-color: #FF7456;
  display: block;
  padding: 5px 10px;
  text-align: center;
  color: white;
  font-weight: bold;
  border-radius: 3px;
}

.btn-programas svg {
  margin: 3px;
}

.btn-programas:hover {
  color: white;
}

.btn-rs {
  display: block;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  width: 50%;
  color: white;
  margin: 10px 0;
}

.btn-rs i {
  font-size: 20px;
}

.btn-rs:hover {
  color: white;
  text-decoration: underline;
}

.facebook {
  background-color: #3171EE;
}

.twitter {
  background-color: #309FF1;
}

.instagram {
  background: #833ab4;
  background: -webkit-gradient(linear, left top, right top, from(#833ab4), color-stop(50%, #fd1d1d), to(#fcb045));
  background: linear-gradient(90deg, #833ab4 0%, #fd1d1d 50%, #fcb045 100%);
}

.whatsapp {
  background-color: #33D24D;
}

.bg-contact {
  background-image: url("../assets/bg-contacto.jpg");
  background-size: cover;
  color: white;
}

.bg-contact label {
  font-weight: bold;
}

.bg-footer {
  background-color: #131313;
  color: white;
}
/*# sourceMappingURL=style.css.map */