@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');

// Colores
$rojo : #FF0244;

// Fuentes
$PTsans : 'Open Sans', sans-serif;
$PlayfairDisplay : 'Playfair Display', serif;
$OpenSans:  'Open Sans', sans-serif;

body {
    font-family: $PTsans !important;
}
header {
    background-color: rgb(46, 46, 46);
}
.menu {
    color: white;
    .btn-donar {
        background-color: $rojo;
        padding: 3px;
        width: 120px;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
        color: white;
        text-decoration: none;
        display: block;
    }
    .menu-principal {
        list-style: none;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 1.1em;
        margin: 0;
        a {
            color: white;
            text-decoration: none;
        }}
        
    }
}
